# 리스트
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- format : listName = [e1, e2, ...]

# 리스트 자료형 선언

In [1]:
var01 = []
var02 = [1,2,3]
var03 = ['I', 'have', "a", 'dream']
var04 = [1, 2, 'dream', 'True']
var05 = [1, 2, ['Dream', 'true']]

# 리스트의 indexing과 slicing

In [2]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2])
print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'true']]
['Dream', 'true']
Dream

In [3]:
# 리스트의 계산
var02[0] + var02[1]

3

In [4]:
#3중 리스트에서 indexing
var = [1, 2, ['a', 'b', ['Dream', 'True']]]
print(var[2][2][0])
print(var[-1][-1][0])

Dream
Dream

In [5]:
print(var[2:])

[['a', 'b', ['Dream', 'True']]]

# 리스트 연산

In [6]:
#리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [7]:
# 리스트의 덧셈
for i in range(0, 3) :
    print(var01[i] + var02[i])

5
7
9

In [8]:
#리스트위 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
#리스트의 곱셈
#var 01의 date를 10배 계산하여 출력하기
#10
#20
#30

for i in var01:
    print(i * 10)

10
20
30

In [11]:
# 리스트의 타입 변환
var = [1,2,3]
print(str(var[2]) + 'hi!')

3hi!

In [14]:
temp = 123
type(temp)
temp1 = int(temp)
type(temp1)

int

# 리스트의 수정과 삭제

In [34]:
var =[1,2,3]
var[2] = 4
var

[1, 2, 4]

In [35]:
var[1:2] = ['a', 'b', 'c']
var

[1, 'a', 'b', 'c', 4]

In [36]:
#1-2번지의 데이터를 지우기 : 삭제
del var[1:3]
print(var)

[1, 'c', 4]

In [33]:
#1-2번지의 데이터를 지우기 : 수정
var[1:3] = []
print(var)

[1, 'c', 4]

In [38]:
#리스트에 요소 추가
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [40]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [45]:
# 리스트의 정렬
var = [1, 4, 3, 2]
print(var)

#오름차순
var.sort()
print(var)

#내림차순
var.reverse()
print(var)

print(var[0])
print(max(var))
print(min(var))

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
4
4
1

In [46]:
#리시트 문자 정렬
var = ['대', '한', '민', '국']

#오름차순 정렬
var.sort()
print(var)
#내림차순 정렬
var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']

In [47]:
#리스트의 위치 정보
var = [4,5,6]
var.index(5)

1

In [51]:
#리스트의 요소 삽입
var = [1,2,3]
var.insert(0, 4)
print(var)

[4, 1, 2, 3]

In [52]:
#리스트 요소 제거
var = [1,2,3,4,5,6]
#데이터(요소)가 4인것 제거
var.remove(4)
print(var)

[1, 2, 3, 5, 6]

In [54]:
#리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop())
print(var)

3
[1, 2]

In [56]:
#for문을 사용한 pop
var = [1,2,3]

for i in range(0, 3):
    print(var.pop())
print (var)

3
2
1
[]

In [58]:
#리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var = var + var1
var

[1, 2, 3, 4, 5, 6]

In [59]:
var = [1,2,3,4]
var1 = [5,6]
var.extend(var1)
var

[1, 2, 3, 4, 5, 6]