# range 함수
range(시작숫자, 끝숫자, 증가값)

In [1]:
var = range(1, 11)
var

range(1, 11)

In [2]:
#range의 범위를 list로 출력
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [5]:
var[9]

range(8, 10)

In [6]:
var[7:9]

range(8, 10)

In [13]:
type(var)

range

In [14]:
#1부터 10까지의 수 중 홀수만 출력하기

for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [15]:
#구구단 9단 출력
i = 9
for j in range(1, 10):
    print(i, "X", j, '=', '%2d'%(i*j))

9 X 1 +  9
9 X 2 + 18
9 X 3 + 27
9 X 4 + 36
9 X 5 + 45
9 X 6 + 54
9 X 7 + 63
9 X 8 + 72

In [18]:
#구구단 결과만 출력하기
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end = ' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [22]:
#평균 구하기
scores = [78, 85, 95, 65]
total = 0

for score in scores:
    total += score
print(total / len(scores))

80.75

# For문에 Tuple 사용하기

In [23]:
var = [(1, 2), (3, 4), (5, 6)]
for first, last in var:
    print(first, " : ", last)

1  :  2
3  :  4
5  :  6

In [24]:
sum1 = 0
for first, last in var:
    sum1 += first + last
print(sum1)

21

In [26]:
#총 5명의 학생들이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다.
#합격, 불합격 결과 보여주기

In [32]:
scores = [90, 25, 67, 45, 80]
for number in range(len(scores)):
    result = ""
    if scores[number] >= 60:
        result = "합격"
    else:
        result = "불합격"
    print(number + 1, "의 학생은", , result, "입니다.")
    count += 1

1 의 학생은 합격 입니다.
2 의 학생은 불합격 입니다.
3 의 학생은 합격 입니다.
4 의 학생은 불합격 입니다.
5 의 학생은 합격 입니다.

In [33]:
scores = [90, 25, 67, 45, 80]
for number in range(len(scores)):
    if scores[number] >= 60:
        print("%d번째 학생은 점수가 %d여서 합격입니다.", %number+1, %scores[number])
    else:
        print("%d번째 학생은 점수가 %d여서 불합격입니다.", %number+1, %scores[number])
    count += 1

SyntaxError: invalid syntax (<ipython-input-33-09877e98af2d>, line 4)

In [34]:
scores = [90, 25, 67, 45, 80]
number = 1 #학생번호
avg = 0.0 #평균점수
total = 0 #학생들의 점수 총점

In [35]:
import numpy as np
np.mean(scores)

61.4

In [37]:
np.sum(scores)

307

In [39]:
var01 = [1,2,3,4]
var02 = []
for i in var01:
    var02.append(i * 5)
print(var02)

[5, 10, 15, 20]

In [40]:
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [43]:
#짝수만
var01 = [1,2,3,4]
var02 = []

var02 = [ i * 5 for i in var01 if i % 2 == 0]
var02

[10, 20]

In [45]:
# 구구단 결과만 리스트로 만들기 (2 ~ 9단)

var = []

var = [ i * j for i in range(2, 10) for j in range(1, 10)]
print(var)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [48]:
#60점 이상의 학생점수만 list로 만들어 평균 구하기
scores = [90, 25, 67, 45, 80]
passList = [i for i in scores if i >= 60]

print("합격한 학생들의 평균 점수는 %.2f입니다." %np.mean(passList))

합격한 학생들의 평균 점수는 79.00입니다.