In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 255 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pymysql

In [4]:
#MySQL Connection
conn = pymysql.connect(host="192.168.2.4", user = 'root', passwd="qwer1234", db="education", charset="utf8")

In [5]:
curs = conn.cursor()

In [8]:
sql = "select * from student"
curs.execute(sql)

4

In [9]:
#Data Fetch
rows = curs.fetchall()
print(rows)

(('S002', '최민기', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('z999', 'wjsn', 'skjxz', '02929384', None))

In [13]:
#list로 변환

rowList = list(rows)
print(rowList)

[('S002', '최민기', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('z999', 'wjsn', 'skjxz', '02929384', None)]

In [14]:
print(rowList[0])

('S002', '최민기', '컴퓨터공학과', '234-5678', None)

In [16]:
conn.close()

# select의 내용을 dataframed으로 보기

In [18]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/greensky/opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /Users/greensky/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)

In [19]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
engine = create_engine("mysql+pymysql://root:qwer1234@192.168.2.4:3306/education?", convert_unicode=True)
conn = engine.connect()

In [24]:
data = pd.read_sql_table('student', conn)
data

  scode sname   sdept    sphone saddress
0  S002   최민기  컴퓨터공학과  234-5678     None
1  S005   김상진     사학과  567-8901     None
2  S006   황정숙     사학과  678-9012     None
3  z999  wjsn   skjxz  02929384     None

# dataFrame을 Database로 Insert 하기

In [27]:
column = ['rank', 'title']
movies = pd.read_csv("./Data/DataFrame.csv")
movies.columns = column
movies.head()

   rank        title
0     1       블랙 위도우
1     2         발신제한
2     3         크루엘라
3     4  콰이어트 플레이스 2
4     5           랑종

In [29]:
engine = create_engine("mysql+pymysql://root:qwer1234@192.168.2.4:3306/daum?", convert_unicode=True)
conn = engine.connect()

In [32]:
movies.to_sql(name='daumlist', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'daumlist.PRIMARY'")
[SQL: INSERT INTO daumlist (`rank`, title) VALUES (%(rank)s, %(title)s)]
[parameters: ({'rank': 1, 'title': '블랙 위도우'}, {'rank': 2, 'title': '발신제한'}, {'rank': 3, 'title': '크루엘라'}, {'rank': 4, 'title': '콰이어트 플레이스 2'}, {'rank': 5, 'title': '랑종'}, {'rank': 6, 'title': '루카'}, {'rank': 7, 'title': '킬러의 보디가드 2'}, {'rank': 8, 'title': '미드나이트'}  ... displaying 10 of 15 total bound parameter sets ...  {'rank': 14, 'title': '체르노빌 1986'}, {'rank': 15, 'title': '이번엔 잘 되겠지'})]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [ ]:
#rottenTomatoesLists.csv
column = ['rank', 'title']
movies = pd.read_csv("./Data/DataFrame.csv")
movies.columns = column
movies.head()